body, html {
  text-align: center;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

section {
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

@media  (min-width: 768px) {
	 h1, h2, p { font: #7b7d70:
	 font-family: #4eafb8; 
	 font-family: #ff8641;
    
  }
}


@media  (min-width: 1200px) {
	body {
		background: yellow;
	}

}
